Hello
<%= link_to "新規作成", new_user_post_path(current_user), :confirm => "本当に移動しますか？" %>
<%= link_to "マイページ", user_path(current_user) %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :confirm => "本当にログアウトしますか？" %>

<% @posts.each do |post|%>
  <div>
    <% url = '/users/'+post.user_id.to_s+'/posts/'+post.id.to_s%>
    <% #binding.pry %>
    <%= link_to post.title, url %>
  </div>
  <div>
    <%=post.detail%>
  </div>
  <%
  date = (14 * (60*60*24) - (Time.now - post.created_at))
  if date > 0
  %>
  <div>
    残り
    <%
    date = (14 * (60*60*24) - (Time.now - post.created_at))
    day = (date / (60*60*24)).floor
    date -= day * (60*60*24)
    hour = (date / (60*60)).floor
    min = ((date % (60*60))/60).floor
    %>
    <%= day %>日
    <%= hour %>時間
    <%= min %>分
  </div>
  <%else%>
  <div>
    時間完了
  </div>
  <%end%>
  <br>
<%end%>

<%= paginate(@posts) %>