<h2>みんなのお願い一覧</h2>

<div class="search select-box01">
カテゴリを絞り込む
<%= form_tag('/', method: :get) do %>
  <select id="category" name="category">
    <option value="all">全て</option>
    <option value="colleages">仲間募集</option>
    <option value="study">勉強会開催</option>
    <option value="items">物が欲しい/いらない</option>
    <option value="consultation">相談に乗って欲しい</option>
    <option value="introduction">紹介して欲しい</option>
    <option value="free_talking">よもやま</option>
    <option value="others">その他</option>
  </select>
  <button class="button" title="検索" type="submit">絞り込み</button><br>
  <input type="checkbox" name="attribute" value="available"><div class="bosyu">募集中のみ表示</div>
<% end %>
</div>
<br>

<% @posts.each do |post|%>
  <% unless post.user_id == current_user.id%>
    <% if date_judge(post.created_at, 14)[:timeend] == 1 or post.completed == 1 %>
    <div class="post-block finished">
    <% else %>
    <div class="post-block">
    <% end %>
      <div>
        <% url = '/users/'+post.user_id.to_s+'/posts/'+post.id.to_s%>
        <%= link_to post.title, url %>
      </div>
      <div>
        投稿者：<%=post.user.nickname%>
      </div>
      <div class = "company">
        <%=company_name(post.user.company)%>
      </div>
      <div class = "support">支援数：<%=post.supports.size%></div>
      <div class = "company">
        投稿日：<%=post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S")%>
      </div>
      <div>
      <% if post.completed == 1 %>
          <div style="color:#FF0000;">Completed!</div>
      <%else%>
        <% if date_judge(post.created_at, 14)[:timeend] == 1 %>
          <div style="color:#BFBFBF;">期限切れ</div>
        <% else %>
          <div>
            残り <%=date_judge(post.created_at, 14)[:date]%>
          </div>
        <% end %>
      <%end%>
      </div>
    </div>
    <div class="margin"></div>
  <% end %>

<% end %>

<%= paginate(@posts) %>

<div>
   <%= link_to 'サインアウト', "/users/sign_out", method: :delete %>
</div>