<% if (talk.poster_or_supporter == 1 and talk.support.user_id == current_user.id) or (talk.poster_or_supporter == 0 and talk.support.user_id != current_user.id) %>
  <div class="other-chat-box">
    <div class="other-chat-face">
      <% if talk.user.avatar_file_name.nil? %>
        <a href = "<%= profile_user_path(current_user) %>"><img src="<%= asset_path "profile.png" %>" alt="" /></a>
      <% else %>
        <%= link_to image_tag(talk.user.avatar, :alt => "アイコン") %>
      <% end %>
    </div>
    <div class="other-chat-area">
      <div class="other-chat-hukidashi">
        <%= simple_format(talk.talk.gsub(/\R/, "<br/>"), {}, wrapper_tag: "div") %>
      </div>
    </div>
  </div>
<% else %>
  <div class="my-chat-box">
    <div class="my-chat-face">
      <% if talk.user.avatar_file_name.nil? %>
        <a href = "<%= profile_user_path(current_user) %>"><img src="<%= asset_path "profile.png" %>" alt="" /></a>
      <% else %>
        <%= link_to image_tag(talk.user.avatar, :alt => "アイコン") %>
      <% end %>
    </div>
    
    <div class="my-chat-area">
      <div class="my-chat-hukidashi">
        <%= simple_format(talk.talk.gsub(/\R/, "<br/>"), {}, wrapper_tag: "div") %>
      </div>
    </div>
  </div>
<% end %>