<div class="profile-container">
  <% if @user.avatar_file_name.nil? %>
    <a href = "<%= root_path %>"><img src="<%= asset_path "profile.png" %>" alt="" width="300" height="300" /></a>
  <% else %>
    <%= link_to image_tag(@user.avatar, :size => "300x300", :alt => "アイコン") %>
  <% end %>

  <div class="margin"></div>

  <div>
  ・ニックネーム<br>
  <%= @user.nickname %>
  </div>

  <div>
  ・性別<br>
  <%= gender_name(@user.sex) %>
  </div>

  <div>
  ・所属会社<br>
  <%= company_name(@user.company) %>
  </div>

  <div>
  ・自己紹介
  <% unless @user.introduction.nil? %>
    <%= simple_format(@user.introduction) %>
  <% end %>
  </div>

  <%if current_user.id == @user_id%>
  <%= link_to "プロフィールを編集する", :action => 'edit' %>
  <% end %>

</div>
