<h2><%= current_user.nickname %>さんの投稿一覧</h2>

<!-- 切り替え -->
<div class="center-block">
  <div class="tab-menu">
    <ul>
      <li>
        <img src="<%= asset_path "help_clear.png" %>" alt="" width="200" height="200"  id="switch-left" class="change selected"/>
      </li>
      <li>
        <img src="<%= asset_path "support_clear.png" %>" alt="" width="200" height="200" class="change" id="switch-right"/>
      </li>
    </ul>
  </div>

    <div class="contents">
      <!-- 左側要素 -->
      <div class="switch-left">
        <%= render @posts %>
      </div>

      <!-- 右側要素 -->
      <div class="switch-right">
        <%= render @supports %>
      </div>
    </div>
</div>