<h2>
<%= current_user.nickname %>
<div id="tab-title" style="display:inline;">さんの投稿一覧</div>
</h2>



<!-- 切り替え -->
<div class="tab-menu">
  <ul>
    <li>
      <img src="<%= asset_path "help.png" %>" alt="" id="switch-left" class="change selected"/>
    </li>
    <li>
      <img src="<%= asset_path "support.png" %>" alt="" class="change" id="switch-right"/>
    </li>
  </ul>
</div>

<div class="center-block">
    <div class="contents">
      <!-- 左側要素 -->
      <div class="switch-left">
        <%= render @posts %>
      </div>

      <!-- 右側要素 -->
      <div class="switch-right">
        <%= render @supports %>
      </div>
    </div>
</div>