<h2>Total Posts</h2>

<% @posts.each do |post|%>

  <!-- 折り畳み展開ポインタ -->
  <div onclick="obj=document.getElementById('<%='open-' + post.id.to_s%>').style; obj.display=(obj.display=='none')?'block':'none';">
  <a style="cursor:pointer;">▼ <%= post.title %></a>
  </div>
  <!--// 折り畳み展開ポインタ -->

  <!-- 折り畳まれ部分 -->
  <div id="<%='open-' + post.id.to_s%>" style="display:none;clear:both;">
  <div>
    <%=post.detail%>
  </div>
  </div>
  <!--// 折り畳まれ部分 -->
  <% unless post.supports.empty? %>
    <div>協力表明してくれた人</div>
    <% post.supports.each do |support|%>
      <div>
        <%= link_to "支援者id: " + support.supporter_id.to_s , request.fullpath + '/posts/' +  post.id.to_s + '/supports/' + support.id.to_s + '/talks' %>
      </div>
    <%end%>
  <% end %>

  <%
  date = (14 * (60*60*24) - (Time.now - post.created_at))
  if date > 0
  %>
  <div>
    残り
    <%
    date = (14 * (60*60*24) - (Time.now - post.created_at))
    day = (date / (60*60*24)).floor
    date -= day * (60*60*24)
    hour = (date / (60*60)).floor
    min = ((date % (60*60))/60).floor
    %>
    <%= day %>日
    <%= hour %>時間
    <%= min %>分
  </div>
  <%else%>
  <div>
    時間完了
  </div>
  <%end%>
  <br>
<%end%>