<div class="post-block">
  <!-- 折り畳み展開ポインタ -->
  <div>
  <%= link_to post.title, :controller => "posts", :action => "show", user_id: current_user.id, id: post.id %>
  </div>
  <div class = "company">
        投稿日：<%=post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S")%>
      </div>
 <% if post.completed == 1 %>
  <div>
    <div style="color:#FF0000;">Completed!</div>
  </div>
 <% elsif date_judge(post.created_at, 14)[:timeend] == 1 %>
  <div>
    <div style="color:#BFBFBF;">期限切れ</div>
  </div>
  <%else%>
  <div>
    残り <%=date_judge(post.created_at, 14)[:date]%>
  </div>
  <%end%>


    <!--// 折り畳まれ部分 -->
    <% if post.supports.empty? %>
      協力してくれている人はいません
    <% else %>
      <div onclick="obj=document.getElementById('<%='open-' + post.id.to_s%>').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;">
        ▼ 協力表明してくれた人(クリックで確認)
        </a>
      </div>

      <div id="<%='open-' + post.id.to_s%>" style="display:none;clear:both;">
        <% post.supports.each do |support|%>
          <% if support.poster_notification == 1 %>
            <div class="post-cell">
          <% else %>
            <div>
          <% end %>
            <div style="float: left">
              <%= link_to User.find(support.supporter_id).nickname , '/users/' +  support.supporter_id.to_s + '/profile' %>
            </div>

            <% if post.completed == 0 and date_judge(post.created_at, 14)[:timeend] == 0%>
              <div style="float: right">
                <%= link_to "トークに進む" , request.fullpath + '/posts/' +  post.id.to_s + '/supports/' + support.id.to_s + '/talks' %>
              <!--&nbsp;&nbsp; 協力を消す-->
              </div>
            <% end %>
        <%end%>
      <div style="clear: both;"></div>
      </div>
      </div>

  <% end %>
  </div>


<div class="margin"></div>