<div class="post-block">
  <!-- 折り畳み展開ポインタ -->
  <div>
  <%= post.title %>
  </div>

  <!--// 折り畳まれ部分 -->
  <% unless post.supports.empty? %>
    <div onclick="obj=document.getElementById('<%='open-' + post.id.to_s%>').style; obj.display=(obj.display=='none')?'block':'none';">
      <a style="cursor:pointer;">
      ▼ 協力表明してくれた人(クリックで確認)
      </a>
    </div>

    <div id="<%='open-' + post.id.to_s%>" style="display:none;clear:both;">
    <% post.supports.each do |support|%>
      <div>
        <% if support.notification == 1 %>
          <font color=#ff0000><%= link_to User.find(support.supporter_id).nickname , request.fullpath + '/posts/' +  post.id.to_s + '/supports/' + support.id.to_s + '/talks' %></font>
        <% else %>
          <div style="float: left">
            <%= link_to User.find(support.supporter_id).nickname , request.fullpath + '/posts/' +  post.id.to_s + '/supports/' + support.id.to_s + '/talks' %>
          </div>
          <div style="float: right">
            <%= link_to "トークに進む" , request.fullpath + '/posts/' +  post.id.to_s + '/supports/' + support.id.to_s + '/talks' %>
          <!--&nbsp;&nbsp; 協力を消す-->
          </div>
          <div style="clear: both;"></div>
        <% end %>
      </div>
    <%end%>
    </div>


  <% end %>

  <%
  date = (14 * (60*60*24) - (Time.now - post.created_at))
  if date > 0
  %>
  <div>
    残り
    <%
    date = (14 * (60*60*24) - (Time.now - post.created_at))
    day = (date / (60*60*24)).floor
    date -= day * (60*60*24)
    hour = (date / (60*60)).floor
    min = ((date % (60*60))/60).floor
    %>
    <%= day %>日
    <%= hour %>時間
    <%= min %>分
  </div>
  <%else%>
  <div>
    時間完了
  </div>
  <%end%>
  <%= link_to "投稿を確認", :controller => "posts", :action => "show", user_id: current_user.id, id: post.id %>
</div>
<div class="margin"></div>