<div class="post-new">
<%= form_for [@user, @post] do |f| %>
  <div class="field">
    <%= @post.title %>
    <%= f.hidden_field :title %>
  </div>
  <div class="field">
    <%= category_name(@post.category) %>
    <%= f.hidden_field :category %>
  </div>
  <div class="field">
     <%= @post.detail %>
    <%= f.hidden_field :detail %>
  </div>
  <div class="actions">
    <%= link_to '戻る', :back %>
  </div>
  <div class="actions">
    <%= f.submit '投稿する', :class => 'button' %>
  </div>
<% end %>
</div>

