<div class="post-block">
  <!-- 折り畳み展開ポインタ -->
  <div>
  <%= support.post.title %>
  </div>
  <!--// 折り畳み展開ポインタ -->

  <%
  date = (14 * (60*60*24) - (Time.now - support.post.created_at))
  if date > 0
  %>
  <div>
    残り
    <%
    date = (14 * (60*60*24) - (Time.now - support.post.created_at))
    day = (date / (60*60*24)).floor
    date -= day * (60*60*24)
    hour = (date / (60*60)).floor
    min = ((date % (60*60))/60).floor
    %>
    <%= day %>日
    <%= hour %>時間
    <%= min %>分
  </div>
  <%else%>
  <div>
    時間完了
  </div>
  <%end%>
  <%= link_to "投稿を確認", :controller => "posts", :action => "show", user_id: support.user_id, id: support.post.id %>
</div>
<div class="margin"></div>
