<!DOCTYPE html>
<html lang="ja">


<head>
  <title>Negait</title>
  <%= include_gon(watch: true) %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--下記の記述はレスポンシブ対応にするために必須-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
  <div class="container">
    <% if user_signed_in? %>
      <div class="headA">
      <a href = "<%= root_path %>"><img src="<%= asset_path "logo.png" %>" alt="" width="120" height="50" /></a>
      </div>
      <nav class="headB">
        <ul>
          <% if current_user.avatar_file_name.nil? %>
            <li>
              <a href = "<%= profile_user_path(current_user) %>"><img src="<%= asset_path "profile.png" %>" alt="" width="40" height="40" /></a>
            </li>
          <% else %>
            <li>
            <%= link_to image_tag(current_user.avatar, :size => "40x40", :alt => "アイコン"), profile_user_path(current_user) %>
            </li>
          <% end %>

          <li>
          <a href = "<%= new_user_post_path(current_user) %>"><img src="<%= asset_path "upload.png" %>" alt="" width="40" height="40" /></a>
          </li>

          <% if current_user.ring > 0  %>
            <li>
            <a href = "<%= user_path(current_user) %>"><img src="<%= asset_path "suzu_3.png" %>" alt="" width="40" height="40" /></a>
            </li>
          <% else %>
            <li>
            <a href = "<%= user_path(current_user) %>"><img src="<%= asset_path "suzu_2.png" %>" alt="" width="40" height="40" /></a>
            </li>
          <% end %>
        </ul>
      </nav>
    <%end%>
  </div>
</header>

<%= yield %>


</body>
</html>
