<!DOCTYPE html>
<html lang="ja">


<head>
  <title>Negait</title>
  <%= include_gon(watch: true) %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--下記の記述はレスポンシブ対応にするために必須-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <div class="container">
    <% if user_signed_in? %>
      <div class="headA">
      <%= link_to image_tag("logo.png", :size => "120x50", :alt => "アイコン"), root_path %>
      </div>
      <nav class="headB">
        <ul>
          <% if current_user.avatar_file_name.nil? %>
            <li><%= link_to image_tag("profile.png", :size => "35x35", :alt => "アイコン"), profile_user_path(current_user) %></li>
          <% else %>
            <li><%= link_to image_tag(current_user.avatar, :size => "35x35", :alt => "アイコン"), profile_user_path(current_user) %></li>
          <% end %>

          <li><%= link_to image_tag("upload.png", :size => "35x35", :alt => "アイコン"), new_user_post_path(current_user) %></li>

          <% if current_user.supports.sum(:notification) >0  %>
            <li><%= link_to image_tag("suzu_3.png", :size => "35x35", :alt => "アイコン"), user_path(current_user) %></li>
          <% else %>
            <li><%= link_to image_tag("suzu_2.png", :size => "35x35", :alt => "アイコン"), user_path(current_user) %></li>
          <% end %>
        </ul>
      </nav>
    <%end%>
  </div>
</header>

<%= yield %>


</body>
</html>
