<!DOCTYPE html>
<html>

<head>
  <title>Negait</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<div class="container">
  <div class="headA">
  <%= link_to image_tag("logo.png", :size => "120x50", :alt => "アイコン"), root_path %>
  </div>
  <nav class="headB">
    <ul>
      <li><%= link_to image_tag("logo.png", :size => "50x35", :alt => "アイコン"), user_path(current_user) %></li>
      <li><%= link_to image_tag("logo.png", :size => "50x35", :alt => "アイコン"), new_user_post_path(current_user) %></li>
    </ul>
  </nav>
</div>
</header>

<%= yield %>


</body>
</html>
